/* Card */
.btn-group {
  padding-right: 0.5em;
}

.btn-toolbar {
  padding-right: 0;
}

.card {
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  color: black;
}

/* Card list */
#card-listbox {
  border: 1em;
  border-color: gray;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius: 10px;
  height: 65vh;
  overflow-y: auto;
}

.nb-button {
  background-color: #470A68;
}

.nb-button:hover {
  background-color: #2d0644;
}

.download-buttons-div > *:not(:first-child) {
  margin-left: 0.25em;
}

input[type="checkbox"]:checked {
  background-color: #470A68;
}

#query-controls {
  padding-top: 1em;
  padding-bottom: 1em;
}

#results-list-group {
  padding-right: 0;
}

#summary-stats {
  float: right;
}

.toast:not(.show) {
  display: block;
}

.tooltip-inner {
  background-color: #470A68;
}

.code {
  color: #470A68;
}

/* Vue select */
.vs__clear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vs__dropdown-option.vs__dropdown-option--highlight {
  background-color: #470A68;
}